.search-bar {
	margin: 20px;
	text-align: center;
}

.search-bar input {
	width: 75%;
}

.video-detail .details {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.list-group-item {
	cursor: pointer;
}

.list-group {
	padding: 0;
}

.list-group-item:hover {
	background-color: #eee;
}

.embed-resposive-item {
	width: 740px;
	height: 450px;
}

.submit {
	width: 7% !important;
}

.title {
	font-size: 18px;
}

.description {
	font-size: 14px;
}